* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("./img/Roboto.ttf");
}

body {
  font-family: "Roboto";
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 3fr minmax(auto, 350px);
  grid-template-rows: 125px 1fr;
}

.header > h1 {
  color: white;
  margin-left: 25px;
}

.header > input {
  width: 50px;
  height: 50px;
  background-color: #e91e63;
  border-radius: 50%;
  color: white;
  text-align: center;
  margin-right: 25px;
  font-size: 25px;
}

.header > input:hover {
  transform: scale(1.1);
}

.header > input:active {
  transform: scale(0.9);
}

.formContainer.hide {
  visibility: hidden;
  opacity: 0;
}

.formContainer {
  opacity: 1;
  display: flex;
  transition: opacity 1s;
  position: fixed;
  flex-direction: column;
  justify-content: center;  
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to top, #e91e6378, #ffffff00);
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  border: 10px white;
  border-radius: 25px;
  border-style: solid solid double double;
  gap: 25px;
  box-shadow: 0px 2px 20px 0px #e91e63;
  background-image: linear-gradient(to bottom, #e91e63, #ffffff00);
  padding: 30px;
  justify-content: center;
  font-size: large;
  color: white;
}

.formInput {
  display: flex;
  flex-direction: column;
}

#btnSubmit{
  width: 125px;
  height: 50px;
  font-weight: bolder;
  font-size: 15px;
  border: 5px solid white;
  border-radius: 5px;
  background-color: #045cc2;
  color:white;
}

#btnSubmit:hover{
  transform: scale(0.95);
  background-color: #024188;
}

.header {
  background-color: black;
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  box-shadow: 0px 0px 20px 5px black;
}

.content {
  background-image: linear-gradient(to left, black, #53299f);
  grid-area: 2/1/3;
}

.card-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.2fr));
  gap: 25px;
  margin: 25px;
}

.card {
  background-image: linear-gradient(to bottom, #e91e63, #ffffff00);
  width: 200px;
  height: 300px;
  color: white;
  border-bottom: 1px solid #e2e2e2;
  border-left: 1px solid white;
  border-radius: 25px 20px 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s;
  box-shadow: inset -9px 6px 0px 1px #ffffff;
}

.card:hover {
  transform: scale(1.05);
}

.bookbox {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  text-align: center;
  word-wrap: break-word;
  width: 175px;
}

.bookbox > h3 {
  margin-top: 25px;
  text-align: center;
  padding-bottom: 25px;
}

.bookdetails {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

#authorText {
  flex: 0.5;
  color: #ffeb3b;
}

#pageText {
  flex: 0.2;
}

.switchBox {
  margin-top: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-bottom: 8px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input.checked + .slider {
  background-color: #ffeb3b;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #ffeb3b;
}

.switch input.checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card > input {
  height: 30px;
  width: 80px;
  background-color: #e91e63;
  border: 3px solid #ebe6e6;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bolder;
  color: white;
}

.card > input:hover {
  transform: scale(1.1);
}

.info {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  grid-area: 2/2;
  color: white;
}

.info-block {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  margin: 25px;
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
}

.info-block > h2 {
  text-align: center;
  margin-top: 25px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 25px;
}

.infos {
  display: flex;
  justify-content: space-between;
}

.infos #totalBooks,
#totalRead,
#totalUnread {
  color: #ffeb3b;
}

.info-clear-block {
  text-align: center;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin: 25px;
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
}

.info-clear-block > h2 {
  margin-top: 25px;
}

.info-clear-block > input {
  margin: auto;
  width: 100px;
  height: 50px;
  border-radius: 15px;
  border: 3px solid white;
  background-color: #e91e63;
  font-weight: bolder;
  margin-bottom: 25px;
  font-size: 15px;
}

.info-clear-block > input:hover {
  transform: scale(1.1);
}

.info-clear-block > input:active {
  transform: scale(0.9);
}




